.login-form {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 90vw;
  max-width: 400px;
  transition: box-shadow 0.3s ease;
  text-align: center;

  &:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }

  h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
    font-weight: 600;
  }

  /* Center and balance inputs and buttons */
  input, button {
    display: block; /* Ensures that they take up the full width and are aligned properly */
    margin: 15px auto; /* Centers the elements horizontally */
    width: 90%; /* Reduced width for equal margins on both sides */
    padding: 15px; /* More padding for a balanced, pleasant look */
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transitions */
  }

  /* Styling specifically for inputs */
  input {
    border: 1px solid #d1d9e6;
    background-color: #f9f9f9;

    &:focus {
      border-color: #4285f4;
      outline: none;
    }
  }

  /* Styling specifically for buttons */
  button {
    background-color: #4285f4;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #357ae8;
    }
  }

  .error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
  }

  p {
    margin-top: 15px;
    font-size: 14px;
    color: #0f0a0a;

    a {
      color: #4285f4;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: #357ae8;
      }
    }
  }

  @media (min-width: 768px) {
    width: 60vw;
    max-width: 500px;
    padding: 60px;
  }

  @media (min-width: 1024px) {
    width: 40vw;
    max-width: 600px;
    padding: 70px;
  }
}
