.reset-container {
    background-color: #f4f7fa;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .reset-form {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 95vw;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
  
    h1 {
      font-size: 26px;
      margin-bottom: 30px;
      color: #333;
      font-weight: 600;
      width: 90%;
      margin: 0 auto 30px;
      text-align: left;
    }
  
    input,
    button {
      display: block;
      margin: 15px auto;
      width: 90%;
      padding: 15px;
      border-radius: 8px;
      font-size: 16px;
      transition: all 0.3s ease;
      box-sizing: border-box;
      text-align: left;
    }
  
    input {
      border: 1px solid #d1d5db;
      background-color: white;
  
      &:focus {
        border-color: #3b82f6;
        outline: none;
      }
    }
  
    button {
      background-color: #4285f4;
      color: white;
      border: none;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
  
      &:hover {
        background-color: #357ae8;
      }
    }
  
    .error-message,
    .success-message {
      font-size: 14px;
      color: #e74c3c;
      margin-top: 10px;
      text-align: center;
    }
  
    .success-message {
      color: #2ecc71; /* Green color for success */
    }
  
    @media (min-width: 768px) {
      width: 65vw;
      max-width: 600px;
      padding: 70px;
    }
  
    @media (min-width: 1024px) {
      width: 50vw;
      max-width: 650px;
      padding: 80px;
    }
  }
  